@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    // Background Colors
--mainbg: blanchedalmond;
--altbg: salmon;
// Text Colors
--maintext: #111;
--alttext: blue;
--poptext: yellow;
}

body {
    background-color: blanchedalmond;
}
