// Nav Bar

#nav {
    // Deco
    background-color: black;
    color: white;
    // Layout
    font-size: 1.1rem;
    height: 80px;
    margin: 0 auto;
    padding: 20px 50px;
    // Flex Settings
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    //Layout
    padding: 0 20px;
    //Flex Settings
    //Decoration
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

#nav-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: none;
}